body{
      font-family: Arial, Helvetica, sans-serif;
      margin:0;
      background:#f5f8f8;
      color:#173a3a;
    }

    header{
      background:#0f766e;
      color:white;
      padding:60px 20px;
      text-align:center;
    }

    main{
      max-width:900px;
      margin:auto;
      padding:40px 20px;
    }

    h2{
      color:#0f766e;
    }

    .card{
      background:white;
      padding:20px;
      margin:20px 0;
      border-radius:12px;
      box-shadow:0 4px 12px rgba(0,0,0,.08);
    }

    footer{
      text-align:center;
      padding:30px;
      color:#666;
    }
.hero{
    display:flex;
    align-items:center;
    gap:40px;
    padding:40px 0;
    } 
.hero img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;
    border:4px solid #0f766e;
    }
.hero-text{
    flex:1;
    }
.hero-text h1{
    font-size:48px;
    margin-bottom:8px;
    color:#0f766e;
    }
.subtitle{
    color:#CCFBF1;
    font-weight:normal;
    letter-spacing:1px;
    text-transform:uppercase;
}
@media (max-width:768px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

}
